
#titleNav {
    font-size: 250%;
}

#pesquisa {
    margin-right: auto;
}
#pesquisa .form-control{
    font-size: 1.5rem;
}
#drop01{
    margin-right: 46%;
}
#txtDrop{
    font-size: 1.06rem;
}
#drop02{
    margin-left: -10%;
    margin-top: 1%;
}
.começo{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #201f1f;
 

}

#separador{
    margin-top: auto;   
}


h1{
    color: #fff;
    
}


/* Botão de pesquisa */
.botao{
    background-color: #727375;
    border: none;
    color: #fff;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease; 
    box-shadow: 0 2px #666;
}

.botao:hover{
    background-color: blueviolet;
}

.botao:active {
    background-color: blueviolet;
    box-shadow: 0 3px #666;
    transform: translateY(1px);
}

.btn{
    background-color: #666;
}

.btn:hover{
    background-color: blueviolet;
}

.sim{
    background-color: #666;
}

.sim:hover{
    background-color: rgb(64, 179, 199);
}

/* Botão de ajuda */
.help{
    margin: 10px;
}

.marca{
    display: flex;
    margin: 8px;
}

/* Pesquisa */

input{
    margin: 5px;
    background-image: url('pesquisa.png') ;
    background-repeat: no-repeat;
    align-items: center;
    background-position: 3px,1px;
    padding-left: 21px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
  

}






.principais{
    background-color: rgb(67, 66, 66);
}


.metade1{
    display: flex;
    align-items: center;
    

}

/* outra parte */

.metade2{
    display: flex;

   
  
}




.perfil-ajuda{
        margin: 0;
        padding: 5px;

}




#compras{
    display: flex;
    margin: 10px;
    border-color: black;
    border-radius: 15px;


}


    #perfil{
            
        display: flex;
        align-items: center;
        border-color: black;
        
        border-radius: 20px;
        padding: 6px;

    }

.perfil{

    width: 35px;
    height: 35px;
    border-radius: 100%;
    
}


.button{
    display: flex; border: none;
    background-color: rgb(159, 153, 153) ;
    border-radius: 20px;
    padding: 3px;
    box-shadow: 0 2px #666;
}

.button:active{
    box-shadow: 0 3px #666;
    transform: translateY(1px);

}



.carrinho{
    
    width: 35px;
    padding: 2px;
}


/* Consoles */


.Nintendo{
   background-color: rgb(215, 14, 14);
   border: none;
   border-radius: 5px;
   color: #fff;
   padding:15px;
   padding-bottom: 0px;
   transition: background-color 0.5s ease; 
   
  

}

.Nintendo:hover{
    background-color:  rgb(240, 12, 12);

   


}

.Nintendo:active{
    box-shadow: 0 3px #666;
    transform: translateY(1px);

}



#consoles{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    

}
.Playstation{
    background-color: rgb(8, 48, 227);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    transition: background-color 0.5s ease; 
   
 
 }
 
 .Playstation:hover{
     background-color:  rgb(0, 85, 255);
 
 }
 .Playstation:active{
     box-shadow: 0 3px #666;
     transform: translateY(1px);
 
 }

 .Xbox{
    background-color: rgb(56, 204, 19);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    transition: background-color 0.5s ease; 
   
 
 }
 
 .Xbox:hover{
     background-color:  rgb(11, 237, 49);
 
 }
 .Xbox:active{
     box-shadow: 0 3px #666;
     transform: translateY(1px);
 
 }





/*tamanho */

@media(max-width: 1100px) {

    .marca{
        align-items: center;
    }
}

@media(max-width: 975px) {
    

    #perfil{
        font-size: medium;

    }
    .metade1{
        flex-direction: column;
    }
    
  

}

@media(max-width: 440px) {
    
    .carrinho{
        width: 22px;
        height: 22px;
    }

    .perfil{
        width: 20px;
        height: 20px;
    }
}





@media(max-width: 700px) {
    h1{
        font-size: 30px;
    }
    .logo{
        width: 47px;
        height: 47px;
    }


    .button{
       
        align-items: center;
        padding: 5px;
    }

    .perfil-ajuda{
        padding: none;
        font-size: small;
    }
    input{
        font-size: 13px;
    }

    .botao{
        padding: 10px 10px;
        font-size: small;

    }

    .help{
        margin: 5px;
        padding: 0;
        font-size: small;
        
    }

    .ajuda{
        padding: 3px;
        font-size: small;
    }
    .marca{
        margin:10px;
    }

    .futura_coluna{
        flex-direction: column;
    }
}

.futura_coluna{
    display: flex;
 
}



    .card {
    
    position: relative; 
    
    background:#414141;
    
    overflow: hidden;
    
    }
    
    .card span:first-of-type {
    
    position: absolute;
    
    top: 0;
    
    left: 0;
    
    width: 100%;
    
    height: 3px;
    
    background: linear-gradient(to right, transparent, rgb(247, 0, 255));

    animation: animar1 2s linear infinite;
    }

    @keyframes animar1 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }

    }

    .card span:nth-of-type(2) {
    
        position: absolute;
        
        top: 0;
        
        right: 0;
        
        width: 3px;
        
        height: 100%;
        
        background: linear-gradient(to bottom, transparent, rgb(247, 0, 255));

        animation: animar2 2s linear infinite;

        animation-delay: 1s;
        }

    @keyframes animar2 {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(100%);
        }

    }




    .card span:nth-of-type(3) {
    
        position: absolute;
            
        bottom: 0;
            
        right: 0;
            
        width: 100%;
            
        height: 3px;
            
        background: linear-gradient(to left, transparent, rgb(247, 0, 255));

        animation: animar3 2s linear infinite;

    }

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }

}


    .card span:last-of-type {
    
        position: absolute;
            
        top: 0;
            
        left: 0;
            
        width: 3px;
            
        height: 100%;
            
        background: linear-gradient(to top, transparent, rgb(247, 0, 255));

        animation: animar4 2s linear infinite;
        animation-delay: 1s;
        }

    @keyframes animar4 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(-100%);
        }

    }


    .cards {
    
        position: relative; 
        
        background:#ffffff;
        
        overflow: hidden;

        border-radius: 5px
        
        }
        
        .cards span:first-of-type {
        
        position: absolute;
        
        top: 0;
        
        left: 0;
        
        width: 100%;
        
        height: 3px;
        
        background: linear-gradient(to right, transparent,  rgb(40, 214, 245));
    
        animation: animar1 2s linear infinite;
        }
    
        @keyframes animar1 {
            0% {
                transform: translateX(-100%);
            }
    
            100% {
                transform: translateX(100%);
            }
    
        }
    
        .cards span:nth-of-type(2) {
        
            position: absolute;
            
            top: 0;
            
            right: 0;
            
            width: 3px;
            
            height: 100%;
            
            background: linear-gradient(to bottom, transparent, rgb(38, 212, 243));
    
            animation: animar2 2s linear infinite;
    
            animation-delay: 1s;
            }
    
        @keyframes animar2 {
            0% {
                transform: translateY(-100%);
            }
    
            100% {
                transform: translateY(100%);
            }
    
        }
    
    
    
    
        .cards span:nth-of-type(3) {
        
            position: absolute;
                
            bottom: 0;
                
            right: 0;
                
            width: 100%;
                
            height: 3px;
                
            background: linear-gradient(to left, transparent, rgb(42, 217, 248));
    
            animation: animar3 2s linear infinite;
    
        }
    
    @keyframes animar3 {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(-100%);
        }
    
    }
    
    
        .cards span:last-of-type {
        
            position: absolute;
                
            top: 0;
                
            left: 0;
                
            width: 3px;
                
            height: 100%;
                
            background: linear-gradient(to top, transparent, rgb(40, 213, 243));
    
            animation: animar4 2s linear infinite;
            animation-delay: 1s;
            }
    
        @keyframes animar4 {
            0% {
                transform: translateY(100%);
            }
    
            100% {
                transform: translateY(-100%);
            }
    
        }


.first{
    color: #fff;
}

.dois{
    color: #fff;
}

.text-center{
    color: #fff;
}



.conta{
    margin: 0 30px; /* Espaçamento entre os cards */
    position: relative;
    width: 350px;
    height: 550px;
    float: left; /* ou display: inline-block; */
    margin-right: 50px; /* Adiciona um espaço entre os cards */
}

.conta:hover .flip{
    transform: rotateY(180deg);
}

.card-conta {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Centraliza os cards verticalmente */
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente,.tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

.frente{
    background-image: url(https://vignette.wikia.nocookie.net/nintendo/images/6/6a/Game_Boy_Color_consola.png/revision/latest?cb=20150628132328&path-prefix=es);
    background-size: cover;
}

.frent,.tra{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

.frent{
    background-image: url(https://th.bing.com/th/id/R.43054b08f7e059b84f04ecf5077ed992?rik=VgFKp6FBJixJmw&riu=http%3a%2f%2fmariomayhem.com%2fbowsers_blog%2fwp-content%2fuploads%2f2014%2f12%2fwii_console.png&ehk=dp0PIpaiXeLclQrcOeL9r0Ouc7E0mOsC6NCru%2frgOeU%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}

.fren,.tr{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

.fren{
    background-image: url(https://th.bing.com/th/id/R.701aa7dd6658a35d5d13dbfb5bf14576?rik=RDrPcrJph6tatA&riu=http%3a%2f%2focremix.org%2ffiles%2fimages%2fsystems%2fgba-209.png&ehk=ngtmN9CuGpVwjLkgBPm%2bnkaf4lCzYdLFgGJsdjuTfhs%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}




.tras{
    background-color: #2195b3;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.tra{
    background-color: #dbdbdb;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #535353;
}

.tr{
    background-color: #6641ac;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

